

.volunteer-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/bg.png'); // החלף עם נתיב התמונה שלך
    background-size: cover;
    background-position: center;
}

.volunteer-form {
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9); // רקע שקוף
    width: 100%;
    max-width: 400px;

    h1 {
        color: #4CAF50; // צבע כותרת
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.8);
            box-sizing: border-box;
        }
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #174719;
        }
        &:active {
            background-color: #397a3f; // צבע רקע כאשר הכפתור נלחץ
        }
    }
}
